<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Form</title>
</head>

<body>
  <!-- <a href="../Uploads/1651226894717-code.pdf">show</a> -->
  <embed src="../Uploads/1651226894717-code.pdf" width="1500" height="1000" type="application/pdf">
</body>

</html>